.compilation {
    margin-bottom: 150px;
    background: #fff;
}
.compilation__block {
}
.compilation__list {
    gap: 21px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.compilation__item {
    max-width: 325px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}
.compilation__all {
    display: block;
}
.compilation__img {
    width: 100%;
    border-radius: 10px;
}
.compilation__black {
    color: var(--base-color);
    display: block;
    padding: 20px 40px 30px;
    transition: all .4s;
}
.compilation__black:hover {
    background: var(--base-color);
    color: var(--white);
    border-radius: 0 0 10px 10px;
}
.compilation__black path {
    transition: all .4s;
}
.compilation__black:hover path {
    fill: var(--white);
}
.compilation__title {
    margin-bottom: 11px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 30px;
}
.compilation__detailed {
    display: flex;
    gap: 20px;
    align-items: center;
}
.compilation__text {
    font-weight: 400;
    font-size: 24px;
}
.compilation__svg {
    
}