.connection {
    background: #f8f8f8;
    padding: 150px 0;
}
.connection__list {
    display: grid;
    grid-template-columns: 555px 555px;
    justify-content: space-between;
}
.connection__item {

}
.connection__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--base-color);
    margin-bottom: 50px;
}
.connection__form {
}
.form {
}
.connection__label {
    /* margin-bottom: 10px; */
}
.field {
}
input::placeholder {
    color: #ababab;
}
.field__input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    background: #f8f8f8;

    font-weight: 400;
    font-size: 18px;
    color: var(--base-color);

    border: none;
    border-bottom: 1px solid var(--base-color);
    background-color: transparent;
    padding: 8px 0;
    outline: none;
}
.connection__field {
}
.connection__input {
    display: block;
    width: 100%;
    padding: 19px 42px 19px 28px;
    margin-bottom: 10px;
    margin-bottom: 70px;
    background: #f8f8f8;
    
    font-weight: 400;
    font-size: 18px;
    color: var(--base-color);

    border: none;
    border-bottom: 1px solid var(--base-color);
    background-color: transparent;
    padding: 8px 0;
    outline: none;
}
.connection__button {
    font-weight: 400;
    font-size: 24px;
    color: var(--white);

    border-radius: 3px;
    padding: 10px;
    width: 277px;
    height: 64px;
    background: var(--base-color);
    transition: 0.4s;
}
.connection__button:active {
    background: #ababab !important;
}
.connection__button:hover {
    background: var(--pink);
}
.email {
    margin-bottom: 70px;
}
.connection__button-1 {
    margin-bottom: 35px;
}
.label__check-box {
    display: flex;
    align-items: center;
    gap: 16px;
}
.label__check-box span {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    cursor: pointer;
}
.check-box {
    appearance: none;
    border: 1px solid #111;
    border-radius: 3px;
    width: 30px;
    cursor: pointer;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}
.check-box:checked::before {
    opacity: 1;
}
.check-box::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(../img/icon/ok.svg) 50% 50% no-repeat;
    opacity: 0;
    transition: all 0.4s;
}