.news {
    padding: 150px 0;
    background: var(--white);
}

.news__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--base-color);
    margin-bottom: 70px;
}

.news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.news__item {
    max-width: 440px;
}

.news-hidden {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

.news__img {
    margin-bottom: 30px;
    max-width: 100%;
}

.news__data {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #909090;
    margin-bottom: 20px;
}

.news__title-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--base-color);
    margin-bottom: 15px;
}

.news__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 20px;
}

.news__read {
    font-weight: 400;
    font-size: 18px;
    color: var(--pink);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 80px;
    display: block;
}

.reviews__button {}

.reviews__button-text {}

/* скрытые новости */
.news-hidden {
    display: none;
}

/* плавное появление */
.fade-in {
    animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

