.opinion {
    padding: 150px 0 162px;
    background: #f8f8f8;
    position: relative;
}
.hero__container {
}
.opinion__inner {
    display: flex;
    gap: 20px;
    align-items: end;
}
.opinion__content {
    max-width: 744px;
}
.opinion__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--base-color);
    margin-bottom: 40px;
}
.opinion__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--two-color);
    max-width: 670px;
}
.opinion__img {
    position: absolute;
    right: 208px;
    bottom: 0;
}