.faq {
    background: #f8f8f8;
    padding: 150px 0;
}
.faq__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 42px;
    color: var(--base-color);
    margin-bottom: 59px;
}
.line {
}
.faq__accordion {
}
.accordion__list {
}
.accordion__item {
    gap: 50px;
}
.accordion__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: all 0.4s;
    padding: 20px 0 38px;
}
.accordion__top:hover .accordion__top-text{
    color: var(--pink);
}
.accordion__top path{
    transition: all 0.4s;
}
.accordion__top:hover path{
    fill: var(--pink);
}
.accordion__top-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--base-color);
    transition: all 0.4s;
}
.accordion__item.active .accordion__top-text {
    color: var(--pink);
}
.accordion__content {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--base-color);
    max-width: 908px;

    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}
.accordion__item.active .accordion__content {
    transition: all 0.4s;
}
.accordion__item.active .accordion__top path {
    fill: var(--pink);
    transform: translateX('90deg');
}
.accordion__top svg {
    transition: all 0.4s;
    flex-shrink: 0;
}
.accordion__item.active .accordion__top svg {
    transform: rotate(45deg);
}
.accordion__content-text {
}