:root {
    --second-family: 'NAMU Pro', sans-serif;
    --base-color: #111;
    --two-color: #000;
    --white: #fff;
    --pink: #c5358c;
}


.body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--base-color);
    background: var(--white);
}
.body--opened-menu {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 42px;
    color: var(--base-color);
}